body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    width: 150px;
    padding: 5px;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 5px;
    margin-top: 30px;
}

#num-input{
    font-size: 1rem;
}

.output-palindroma{
    width: fit-content;
    font-size: 1.5rem;
}